version: "3.8"
services:
  realsense:
    build: .
    container_name: p3-bil
    privileged: true
    network_mode: "host"
    environment:
      - DISPLAY=$DISPLAY
      - QT_X11_NO_MITSHM=1
    devices:
      - "/dev/bus/usb:/dev/bus/usb"
    volumes:
      - .:/app
      - /tmp/.X11-unix:/tmp/.X11-unix:rw